<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="yc.xuezhifan.schoolbackstage.activesponsor.mapper.YcSchoolVoMapper">
	<resultMap type="yc.xuezhifan.schoolbackstage.activesponsor.bean.YcSchoolVo" id="userMap">
         <id column="id" property="yc_admin_id" jdbcType="VARCHAR" /> 
         <result column="yc_school_id" property="yc_xzf_id" jdbcType="VARCHAR" /> 
         <result column="yc_school_name" property="yc_name" jdbcType="VARCHAR" /> 
         <result column="yc_school_avatar" property="yc_avatar" jdbcType="VARCHAR" /> 
     </resultMap>

	<select id="selectById" resultMap="userMap">
        SELECT
            id,
            yc_school_id,
            yc_school_name,
            yc_school_avatar
        FROM
             SCOTT.YC_SCHOOL
        WHERE id=#{id}
        
    </select>

</mapper>
