<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yc.xuezhifan.schoolbackstage.school.mapper.YcSchoolLoginLogMapper">

    <insert id="insertSchoolLoginLog" parameterType="yc.xuezhifan.schoolbackstage.school.bean.YcSchoolLoginLog">
        INSERT INTO
        YC_SCHOOL_LOGIN_LOG (
        id,
        yc_school_id,
        yc_school_login_time,
        yc_school_log_ip
        ) values(
        #{id},
		#{yc_school_id,jdbcType=VARCHAR},
		#{yc_school_login_time,jdbcType=TIMESTAMP},
		#{yc_school_log_ip,jdbcType=VARCHAR}
        )
    </insert>
</mapper>