<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>分享关注</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/style/admin.css" media="all">
    <link rel="stylesheet" href="/style/template.css" media="all">
    <link rel="stylesheet" href="/style/login.css" media="all">
</head>
<body>


<div style="position: absolute;top:3%;left: 5%;width: 90%;height: 90%">
    <table width="100%">
        <!--第一行 用户信息显示-->
        <tr>
            <td>
                <table width="100%">
                    <!--问候语-->
                    <tr>
                        <td>
                            <font size="3" color="#696969" face="黑体"><span
                                    th:text="${founderName+'邀请您关注'+child.yc_child_name+'，关注后就可以看'+child.yc_child_name+'的全部照片和动态啦~'}"/></font>
                        </td>
                    </tr>
                    <!--间隔-->
                    <tr>
                        <td height="20px"></td>
                    </tr>
                    <!--头像-->
                    <tr>
                        <td align="center">
                            <img class="layadmin-homepage-pad-img" th:src="${child.yc_child_avatar}" width="30%"
                                 height="30%">
                        </td>
                    </tr>
                    <tr><td height="5px"></td></tr>
                    <!--孩子名字-->
                    <tr>
                        <td align="center">
                            <b th:text="${child.yc_child_name}" id="chiled-name" class="font-blod"/>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="30px"></td>
        </tr>
        <!--第二行 孩子属性-->
        <tr>
            <td>
                <div class="layui-card">
                    <table width="100%" style="border-radius: inherit">
                        <tr>
                            <td align="center" width="33%" height="30px">性别</td>
                            <td rowspan="2"><b style="color: #009f95">|</b></td>
                            <td align="center" width="33%">年龄</td>
                            <td rowspan="2"><b style="color: #009f95">|</b></td>
                            <td align="center" width="33%">创建人</td>
                        </tr>
                        <tr>
                            <td align="center" height="30px">
                                <font size="4" color="#696969" face="黑体">
                                    <span th:if="${child.yc_child_gender} == 1">男</span>
                                    <span th:if="${child.yc_child_gender} == 2">女</span>
                                </font>
                            </td>
                            <td align="center">
                                <font size="4" color="#696969" face="黑体">
                                    <span th:text="${age}"/>
                                </font>
                            </td>
                            <td align="center">
                                <font size="4" color="#696969" face="黑体">
                                    <span th:text="${founderName}"/>
                                </font>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>

    <!--间隔-->
    <div style="height: 30px"></div>
    <form class="layui-form" action="/xuezhifan/shareChild" method="post" lay-filter="component-form-group">
        <table class="table" width="100%">
            <!--第一行 真实姓名-->
            <tr>
                <td>
                    <!--孩子id-->
                    <input type="text" name="id" th:hidden="true" th:value="${child.id}">
                    <input type="text" name="childname" th:hidden="true" th:value="${child.yc_child_name}">
                    <input class="layui-input" name="username" type="text" lay-verify="required|title"
                           placeholder="请输入您的真实姓名">
                </td>
            </tr>
            <!--第二行 与宝宝的关系-->
            <tr>
                <td>
                    <select name="relation" lay-verify="required">
                        <option value="">请选择您和宝宝的关系</option>
                        <option value="1">母亲</option>
                        <option value="2">父亲</option>
                        <option value="3">爷爷</option>
                        <option value="4">奶奶</option>
                        <option value="5">外公</option>
                        <option value="6">外婆</option>
                        <option value="7">叔叔</option>
                        <option value="8">阿姨</option>
                        <option value="9">其他</option>
                    </select>
                </td>
            </tr>
            <!--第三行 手机号-->
            <tr>
                <td>
                    <input type="text" name="phone" id="LAY-user-share-cellphone" lay-verify="required|phone"
                           placeholder="请输入您的手机号"
                           class="layui-input">
                </td>
            </tr>
            <!--第四行 提交-->
            <tr>
                <td height="120px">
                    <div class="layui-form-item layui-layout-admin">
                        <button class="layui-btn layui-btn-radius layui-btn-fluid" lay-submit
                                lay-filter="LAY-user-share-submit">立即关注
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <img src="/share/image/logo.png" width="70%" height="35%">
                </td>
            </tr>
        </table>
    </form>
</div>
<style type="text/css">
    body {
        background-image: url('/share/image/background.png');
        background-position: center;
        background-size: 100%;
        background-repead: no-repead;
    }
</style>
<script src="/layui/layui.js"></script>
<script src="/share/share.js"></script>
</body>
</html>